.menu {
  grid-column: 2;
  grid-row: 1;
  z-index: 2;
}
.menu_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 95vw;
  margin-top: 0.6rem;
  padding: 0.2rem 0;
}
.menu-cont_item {
  position: relative;
  margin: 0 0.5rem;
  background-color: var(--colour-1);
  border-radius: 30%;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
}
.menu-cont_item.profile {
  padding: 0;
  background-color: transparent;
  margin: 0 1.5rem;
}
.menu-cont_item svg {
  height: 1.2rem;
}
.menu-cont_item img {
  height: 2.3rem;
  border-radius: 50%;
}

.menu-item_bell {
  position: absolute;
  top: 0;
  left: 75%;
  background: var(--back-colour);
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
}
